@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
:root{
    --fonte: "Montserrat", sans-serif;
    --azul: #C5F0FF;
}
*{
    font-family: var(--fonte);
}
footer{
    background-image: linear-gradient(to top, var(--azul), white);
}