@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
:root{
    --fonte: "Montserrat", sans-serif;
    --azul: #C5F0FF;
}
*{
    font-family: var(--fonte);
}
main{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
#solucoes{
    background-image: linear-gradient(to bottom, #0d6efd, #8fbcff);
}
footer{
    background-image: linear-gradient(to top, var(--azul), white);
}